h1 {
    color: cadetblue;
} 

footer {
    font-size: 10pt;
   
}

a:link {
    color: darkblue;
    text-decoration: none;
    font-size: 10pt;
}
a:hover {
    color:darkslateblue;
}
a:focus {
    color:darkgray;
}
a:visited {
    color: crimson;
}
a:active {
    color: darkgreen;
}